<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Greetens from Flask</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <!--nav-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="http://www.finnkino.fi/xml/Schedule/?area=1038" class="navbar-brand">Finnkino cinema API</a>
            </div>
        </div>
    </nav>

    <!--content-->
    <div class="container body-content" id="content">
        {% block content %}{% endblock %}
        <hr />
        <!--footer-->
        <footer>
            <p>&copy; Alvaro</p>
        </footer>

    </div>
</body>
</html>
