<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Greetens from Flask</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>
  <body>
        <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
