{% extends "layout.html" %}
{% block title %} Movies {% endblock %}
{% block content %}

<div>
    <h1>Choose area:</h1>
    <select name="theatre" id="choose_theatre">
    {% for id, name in areas.items() %}
    <option value="{{ id }}">{{ name }}</option>
    {% endfor %}
    </select>
    <h1>Movie list:</h1>
    
    <div id="movie_container">
        <ul>
            {% for movie in movies %}
                <li style = "list-style: none;">
                    <div class = "movieTitle">
                        <div id="movieImage">
                            Image: <img src="{{movie['Picture']}}" alt="{{movie['Title']}}"/>
                        </div>
                        Title: {{ movie['Title'] }} - Original Title: {{ movie['OriginalTitle'] }} <br/>
                        Start: {{movie['dttmShowStart']}} - End: {{movie['dttmShowEnd']}} <br/>
                        Genre(s): {{ movie['Genres']}} <br/>
                        Auditorium: {{movie['TheatreAuditorium']}} <br/>
                        Language: {{movie['PresentationMethodAndLanguage']}} <br/>
                        Rating: <img src="{{ movie['RatingImageUrl']}}" alt/>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <img id="loader" src="{{ url_for('static', filename='media/ajax-loader.gif') }}" />
</div>

{% endblock %}

