{% extends "layout.html" %}
{% block title %} Movies {% endblock %}
{% block content %}

<div>
    <h3 class="page-header">
        Choose area
    </h3>
        <select name="theatre" id="choose_theatre">
            {% for id, name in areas.items() %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>
    
    <h3 class="page-header">Movie list</h3>
    
    <div id="movie_container">
        <ul>
            {% for movie in movies %}
                <li style = "list-style: none;">
                    <div class = "movieTitle jumbotron">
                        <div class="row">
                            <div class="col-md-4" id="movieImage">
                                <img src="{{movie['Picture']}}" alt="{{movie['Title']}}" />
                            </div>
                            <div class="col-md-8">
                                Title: {{ movie['Title'] }} - Original Title: {{ movie['OriginalTitle'] }} <br />
                                Start: {{movie['dttmShowStart']}} - End: {{movie['dttmShowEnd']}} <br />
                                Genre(s): {{ movie['Genres']}} <br />
                                Auditorium: {{movie['TheatreAuditorium']}} <br />
                                Language: {{movie['PresentationMethodAndLanguage']}} <br />
                                Rating: <img src="{{ movie['RatingImageUrl']}}" alt />
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <img id="loader" src="{{ url_for('static', filename='media/ajax-loader.gif') }}" />
</div>

{% endblock %}

